html {
    background: #f1f4f7;
}
.form-box {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    margin: 20px;
}



.registration {
    display: none;
}